<!-- <div class="col-md-6">
  <h2> Employee Details</h2>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Gender</th>
      <th>Department</th>
      <th>DOB</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td class="hidden">{{employee.employeeId}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.gender}}</td>
      <td>{{employee.department}}</td>
      <td>{{employee.dateOfBirth}}</td>
    </tr>
    </tbody>
  </table>
  </div> -->
  <mat-table [dataSource]=this.employees class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="EmployeeId">
      <mat-header-cell *matHeaderCellDef> EmployeeId </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.employeeId}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Fist Name">
      <mat-header-cell *matHeaderCellDef> Fist Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Last Name">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Department">
      <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.department}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DOB">
      <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateOfBirth}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>